
@model List<PH3A.Juros.UI.Models.Parcela>
<table class="table table-striped table-hover table-responsive-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Vencimento</th>
            <th>Valor</th>
            <th>(R$) Juros</th>
            <th>Total Divida</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="parcela-@item.Id">
                <td>@item.Id</td>
                <td>@string.Format("{0:dd/MM/yyyy}", item.DataVencto)</td>
                <td>@string.Format("{0:C}", item.Valor)</td>
                <td>@string.Format("{0:C}", item.Juros)</td>
                <td>@string.Format("{0:C}", item.TotalDivida)</td>
                <td>
                    <a class="btn btn-sm btn-outline-success" href="~/Parcelas/Save/@item.Id">Editar</a>
                    <button class="btn btn-sm btn-outline-danger" onclick="Delete(@item.Id)">Excluir</button>
                </td>
            </tr>
        }
        <tr id="sumario">
            <td>Total de Juros ==></td>
            <td id="totalJuros">@string.Format("{0:C}", ViewBag.TotalJuros)</td>
            <td>Total da Dívida ==></td>
            <td id="totalDivida">@string.Format("{0:C}", ViewBag.TotalDivida)</td>
            <td colspan="2"></td>
        </tr>
    </tbody>
</table>